@import  "https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/icont/material-icons.min.css";
@import  "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css";

html, body, #home {
    height: 100%;
}

.capa {
    text-align: center;
    margin-top: 25%;
}

.t {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000000;
    color: #1ed760;
    text-align: center;
}
.tt {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #f4c5c5;
}

.text {
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}

body {
    background:url(../imagens/capa.png),
    linear-gradient(50deg, #1c8c43, #233587);
    background-attachment: fixed;
    height: 100vh;
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
}
  

  
#servicos {
    background: white;
    padding-top:  20px;
    padding-bottom: 20px;

}



nav.navbar-transparente {
    background: rgba(0, 0, 0, 0.6);
    padding: 5px 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: white;
}


.img-fluid {
    right: 5rem;
    width: 5rem;
}


.test {
    text-align: center;
    font-style: italic;
	font-weight: bold;
	font-size: 30px;
	font-family: Bradley Hand, cursive 
}



.divisor{
    width: 1px;
    background: white;
}
