body {
background:linear-gradient(50deg, #1ed760, #292430);
            background-attachment: fixed;
}

nav.navbar-transparente {
    background: rgba(0, 0, 0, 0.6);
    padding: 5px 0;
}

.img-fluid {
    right: 5rem;
    width: 5rem;
}


.test {
    text-align: center;
    font-style: italic;
	font-weight: bold;
	font-size: 30px;
	font-family: Bradley Hand, cursive 
}



.divisor{
    width: 1px;
    background: white;
}
