nav.navbar-transparente {
  background: rgba(0, 0, 0, 0.6);
  padding: 5px 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #9bf0e1;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: white;
}

.img-fluid {
  right: 5rem;
  width: 5rem;
}

body {
  background:url(../imagens/capa.png),
  linear-gradient(50deg, #1c8c43, #233587);
  background-attachment: fixed;
}

.Card h1 {
  background:#000000;
  color: #ffffff;
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
}

.Card {
  padding: 90px;
  width: 270px;
  background-color:#000000;
  margin: 0 auto 10rem;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Card input [type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

textarea:focus, input:focus {
  outline: none;
}

.Card input[type=text], input[type=senha] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  background: rgb(255, 255, 255);
  border: 2px solid #233587;
  border-top: 2px solid #1c8c43;
  border-radius: 0px;
  padding: 0 8px;
  box-sizing: border-box;
}

.Card input[type=text]:hover, input[type=senha]:hover {
  border: 1px solid #000000;
  border-bottom: 1px solid #ffffff;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
  
.Card input[type=text]:focus, input[type=senha]:focus {
  border: 1px solid #000000;
  border-bottom: 1px solid #ffffff;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
  width: 100%;
  height: 44px;
  color: rgb(0, 0, 0);
  border-radius: 0px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.login-submit {
  background: rgb(28,140,67);
}
.login-submit:hover {
  background: rgb(66, 202, 113);
  border-radius: 1px;
}
  
.Card span {
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  margin-top: 12px;
  margin-bottom: 5px;
}
  
