.img-fluid {
    right: 5rem;
    width: 5rem;
}

.test {
    text-align: center;
    font-style: italic;
	font-weight: bold;
	font-size: 30px;
	font-family: Bradley Hand, cursive 
}

nav.navbar-transparente {
    background: rgba(226, 39, 39, 1);
    padding: 15px 0;
}

.divisor{
    width: 1px;
    background: white;
}
